<% provide(:title, @platform.name) %>
<h2> Details about <%= @platform.name %></h2>

<div class="center jumbotron">
  <ul class="list-group">
    <li class="list-group-item">Platform id: <%= @platform.id%></li>
    <li class="list-group-item">Platform Name: <%= @platform.name%></li>
    <li class="list-group-item">Platform version: <%= @platform.version%></li>
    <li class="list-group-item"> 
      <%= button_to 'Edit', edit_platform_path(@platform.id), :method => :get, class:"btn btn-outline-dark short-input"%>
      <%= button_to 'Delete', platform_path(@platform.id), :method => :delete, data: { confirm: "You sure?" }, class:"btn btn-outline-dark short-input"%>
    </li>
  </ul>
    <table class="table">
  <thead>
    <tr>
      <th scope="col">App_id</th>
      <th scope="col">App name</th>
      <th scope="col">App type</th>
      <th scope="col">App version</th>
      <th scope="col">Released Date</th>
      <th scope="col">Updated Date</th>
      <th scope="col">Company</th>
    </tr>
  </thead>
  <tbody>
    <%@platform.apps.each do |a|%>
    <tr>
      <td><%=a.id%></td>
      <td><%=link_to a.name, app_path(a.id)%></td>
      <td><%=a.app_type%></td>
      <td><%=a.version%></td>
      <td><%=a.created_at%></td>
      <td><%=a.updated_at%></td>
      <td><%=a.company.name%></td>
    </tr>
    <%end%>
    
    
  </tbody>
</table>
</div>

<div><%= link_to 'Back', platforms_path %></div>