<h1>New App for user <%=@user.name%></h1>

<% provide(:title, 'New purchase') %>
<h1>Purchase of <%=@app.name %></h1>
<div class="col-md-6 col-md-offset-3">
<%= form_for(@purchase_item) do |f| %>
  
  <%= f.label :price %>
  <%= f.number_field :price, class: 'form-control' %>
  
  <%= f.hidden_field :user_id, value: @user.id, class: 'form-control'%>
  <%= f.hidden_field :app_id, value: @app.id, class: 'form-control'%>
  
  <%= f.submit "Purchase", class: "btn btn-primary" %>
<% end %>
</div>

<%= link_to 'Back', purchase_items_path(@user.id) %>