<p id="notice"><%= notice %></p>

<% provide(:title, 'All companies') %>

<h1>Companies</h1>
<%= will_paginate %>
<table class="table table-hover", style="text-align:center;">
  <thead>
    <tr>
      <th scope="col">Name</th>
      <th scope="col">Country</th>
      <th scope="col">Number of employees</th>
    </tr>
  </thead>

  <tbody>
    <ul class="users">
      <%= render @companies %>
    </ul>
  </tbody>
</table>
<%= will_paginate %>
<p><%= link_to 'New Company', new_company_path %></p>
<p><%=link_to "Back to Home", root_path%></p>

