<tr>
  <td><%= link_to app.name, app %></td>
  <td><%= app.app_type %></td>
  <td><%= app.created_at %></td>
  <td><%= app.updated_at %></td>
  <td><%= app.version %></td>
  <td><%= app.company.name %></td>
</tr>