<h1>New platform for app <%@app.name%></h1>

<% provide(:title, 'New relation-app-platform') %>
<h1>Create New relation-app-platform</h1>

<div class="col-md-6 col-md-offset-3">
<%= form_for [@app, @relation_app_platform] do |f| %>
  
  <%= f.label :platform %>
  <%= f.select :platform_id, options_for_select(
    @platforms.map{ |c| [c.name, c.id] }) %>
  
  <%= f.submit "Create Relation", class: "btn btn-primary" %>
<% end %>
</div>

<%= link_to 'Back', users_path %>