<% provide(:title, 'Make comment') %>
<h1>New Comment%></h1>

<div class="col-md-6 col-md-offset-3">
<%= form_for(@review) do |f| %>
  
  <%= f.label :app %>
  <%= f.select :app_id, options_for_select(
    @apps.map{ |c| [c.name, c.id] }) %>
  <%if @user%>

    <%= f.hidden_field :user_id, value: @user.id, class: 'form-control'%>
  <%else%>
    <%= f.label :user %>
  <%= f.select :user_id, options_for_select(
    @users.map{ |c| [c.name, c.id] }) %>
  <%end%>
  <%= f.label :star %>
  <%= f.number_field :star, class: 'form-control' %>
  
  <%= f.label :comment %>
  <%= f.text_field :comment, :size => 150, class: 'form-control' %>
  
  

  
  <%= f.submit "Submit Review", class: "btn btn-primary" %>
<% end %>
</div>
  <%if @user%>
    <%= link_to 'Back', user_path(@user.id) %>
  <%else%>
    <%= link_to 'Back', reviews_path() %>
  <%end%>
